<%= simple_form_for(@race) do |f| %>
  <% if @race.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>

      <ul>
      <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-xs-2">Race</label>
      <div class="col-xs-10"><p><%= f.input :race_id, collection: 1..12, label: false %></p></div>
      <label class="control-label col-xs-2">Blue score:</label>
      <div class="col-xs-10"><p><%= f.input :blue_score, collection: 0..3, label: false %></p></div>
      <label class="control-label col-xs-2">Red score:</label>
      <div class="col-xs-10"><p><%= f.input :red_score, collection: 0..3, label: false %></p></div>
      <label class="control-label col-xs-2">White score:</label>
      <div class="col-xs-10"><p><%= f.input :white_score, collection: 0..3, label: false %></p></div>
      <label class="control-label col-xs-2">Yellow score:</label>
      <div class="col-xs-10"><p><%= f.input :yellow_score, collection: 0..3, label: false %></p></div>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </form>



<% end %>
