<h1>Races</h1>

<%= render "layouts/totalscore" %>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Race</th>
      <th>Blue:</th>
      <th>Red:</th>
      <th>White:</th>
      <th>Yellow:</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= link_to(race)  do %>
              <button type="button" class="btn btn-default">
        <%= race.race_id %>
                  </button>
              <% end %></td>
        <td><%= race.blue_score %></td>
        <td><%= race.red_score %></td>
        <td><%= race.white_score %></td>
        <td><%= race.yellow_score %></td>
        <!--
          <td><%= link_to 'Show', race, class: "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_race_path(race), class: "btn btn-success" %></td>
          <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
        <-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Race', new_race_path, class: "btn btn-success" %>
