<h1>Listing races</h1>

<table>
  <thead>
    <tr>
      <th>Race</th>
      <th>Blue score</th>
      <th>Red score</th>
      <th>White score</th>
      <th>Yellow score</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.race_id %></td>
        <td><%= race.blue_score %></td>
        <td><%= race.red_score %></td>
        <td><%= race.white_score %></td>
        <td><%= race.yellow_score %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
