<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @race.race_id %>
</p>

<p>
  <strong>Blue score:</strong>
  <%= @race.blue_score %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
