<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @race.race_id %>
</p>

<p>
  <strong>Blue score:</strong>
  <%= @race.blue_score %>
</p>

<p>
  <strong>Red score:</strong>
  <%= @race.red_score %>
</p>

<p>
  <strong>White score:</strong>
  <%= @race.white_score %>
</p>

<p>
  <strong>Yellow score:</strong>
  <%= @race.yellow_score %>
</p>

<p><strong>Home score: </strong>
<% home_score = @race.blue_score + @race.red_score %>
  <%=   home_score %>
</p>

<p><strong>Away score: </strong>
  <% away_score = @race.white_score + @race.yellow_score %>
  <%=   away_score %>
</p>

<p><strong>total home score: </strong>

  <% blue_sum = @races.sum(:blue_score)   %>
  <% red_sum = @races.sum(:red_score)  %>
  <%= total_home = blue_sum + red_sum   %>


</p>

<p><strong>total away score: </strong>

  <% white_sum = @races.sum(:white_score)   %>
  <% yellow_sum = @races.sum(:yellow_score)  %>
  <%= total_away = white_sum + yellow_sum   %>


</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
